/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
body{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
#TB_window {
	font: 14px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(images/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#TB_window { 	/* border */
	position: fixed;
	background:#FFFFFF;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}


#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:5px 25px 10px 0;
	float:right;
	border:1px solid #ff0000;
}

#TB_closeAjaxWindow{
	padding:2px 2px 0px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:5px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{	/*header bg color*/
	background-color:#e8e8e8;
	height:30px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position:fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}


#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}



#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:0px;
	margin-top:1px;
	
}

.mkh_sharemenu{ 	}
.mkh_sharemenu ul{ margin:0px; padding:0px; list-style-type:none;}
.mkh_sharemenu li{ margin:0px; padding:5px; list-style-type:none; float:left;}
.mkh_sh_btns{background:url(../images/mkh_btns.png) no-repeat left top;}
a.mkh{background-position:0px -75px; background-repeat:no-repeat; width:69px; height:20px; display:block;}
a:hover.mkh{background-position:0px 0px; background-repeat:no-repeat; width:69px; height:20px; display:block;}
.mkh_sel{background-position:0px 0px; background-repeat:no-repeat; width:69px; height:20px; display:block;cursor:default;}
a.events{background-position:0px -100px; background-repeat:no-repeat; width:69px; height:20px; display:block;}
a:hover.events{background-position:0px -25px; background-repeat:no-repeat; width:69px; height:20px; display:block;}
.events_sel{background-position:0px -25px; background-repeat:no-repeat; width:69px; height:20px; display:block;cursor:default;}
a.notes{background-position:0px -125px; background-repeat:no-repeat; width:69px; height:20px; display:block;}
a:hover.notes{background-position:0px -50px; background-repeat:no-repeat; width:69px; height:20px; display:block;}
.notes_sel{background-position:0px -50px; background-repeat:no-repeat; width:69px; height:20px; display:block;cursor:default;}
.feed_btn{background-position:0px -148px; background-repeat:no-repeat; width:80px; height:27px; border:0px; cursor:pointer;}
a.notes_dul{background-position:0px -210px; background-repeat:no-repeat; width:69px; height:20px; display:block; cursor:default;}
.gry_txt_sm{font-size:12px; color:#333333; text-decoration:none; line-height:14px;}
.box_brd{background-color:#f4f4f4; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; padding:4px;}
.close_btn{background-position:0px -180px; background-repeat:no-repeat; width:25px; height:25px; display:block; outline:none; cursor:pointer;}
.close_btn_1{background-position:0px -180px; background-repeat:no-repeat; width:25px; height:25px; display:block; outline:none; cursor:pointer;}
.trv_txt_1{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333333; text-decoration:none;}
.brdr{border:1px solid #94a3c4;}
.ok_btn{background-position:0px -243px; background-repeat:no-repeat; width:58px; height:27px; cursor:pointer; border:0px;}
.brdr_1{border:1px solid #cccccc;}
.bk_nw{ background:url(../images/bk_nw.png) no-repeat; width:141px; height:60px; border:0px;}

.login_bg_top{ background:url(../images/login_bg_top.png) no-repeat; width:610px; height:35px;}
.login_bg_mid{ background:url(../images/login_bg_mid.png) repeat-y; width:610px; height:393px;}
.login_bg_mid_2{ background:url(../images/login_bg_mid.png) repeat-y; width:610px;}
.login_bg_bot{ background:url(../images/login_bg_bot.png) no-repeat; width:610px; height:27px;}
.mkh_btns_2{background:url(../images/mkh_btns_2.png) no-repeat left top;}
.signin_btn{background-position:0px -400px; background-repeat:no-repeat; width:87px; height:30px; border:0px; cursor:pointer;}

.ok_btn{background-position:0px -243px; background-repeat:no-repeat; width:58px; height:27px; cursor:pointer; border:0px;}
.signup_btn{background-position:0px -435px; background-repeat:no-repeat; width:87px; height:42px; border:0px; cursor:pointer;}

.sbmt_btn{background-position:0px -480px; background-repeat:no-repeat; width:87px; height:30px; border:0px; cursor:pointer;}
.updt_btn{background-position:0px -520px; background-repeat:no-repeat; width:87px; height:30px; border:0px; cursor:pointer;}
.blu_txt_sm{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#3b5998; text-decoration:none;}
